*.vsidx
*.lock
*.suo
*.testlog
*.manifest
*.json
*.dll
*.pdb
*.props
*.targets
*.cache
*.cs
*.BuildWithSkipAnalyzers
*.txt
*.editorconfig
*.exe
*.CopyComplete
Coles.StringFun.Domain/obj/
Coles.StringFun.Domain/bin/
Coles.StringFun.Tests/bin/
Coles.StringFun.Tests/obj/
